.myworksworksBloks{
    height: 100vh;
    background-color:hotpink;
    display: flex;
    
}

.myworkContainer{
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.works{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}