.formBlock{
    margin-top: 70px;
    height: 100vh;
    background-color:lightskyblue;

}
.container{
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.inp{
    margin-bottom:  10px ;
    margin-top:  10px 
}